 .u-section-1 {
  min-height: 440px;
}

.u-section-1 .u-image-1 {
  height: 427px;
  margin-top: 7px;
  margin-bottom: 0;
}

.u-section-1 .u-text-1 {
  margin: -168px auto 60px calc(((100% - 1140px) / 2) + 23px);
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 400px;
  }

  .u-section-1 .u-image-1 {
    height: 400px;
    margin-top: 0;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -163px;
    margin-bottom: 97px;
    margin-left: calc(((100% - 940px) / 2) + 16px);
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 321px;
  }

  .u-section-1 .u-image-1 {
    height: 320px;
    margin-top: 1px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -103px;
    margin-bottom: 38px;
    margin-left: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 1140px) / 2) + 323px);
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 213px;
  }

  .u-section-1 .u-image-1 {
    width: 461px;
    left: auto;
    right: -21px;
    margin-top: initial;
    margin-bottom: initial;
    height: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: 135px;
    margin-bottom: 39px;
    margin-left: calc(((100% - 340px) / 2) + 12px);
  }
}.u-section-2 .u-sheet-1 {
  min-height: 500px;
}

.u-section-2 .u-image-1 {
  width: 443px;
  left: 0;
  right: auto;
}

.u-section-2 .u-text-1 {
  margin: 27px 175px 0 auto;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  margin: 49px 19px 0 514px;
}

.u-section-2 .u-btn-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 49px 0 27px auto;
  padding: 1px 16px 1px 15px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 570px;
  }

  .u-section-2 .u-image-1 {
    width: 362px;
    height: 362px;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
    margin: 52px auto 0 0;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: -395px;
    margin-right: 45px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 33px;
    margin-right: 98px;
    margin-left: 456px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 19px;
    margin-right: auto;
    margin-bottom: 36px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 410px;
  }

  .u-section-2 .u-image-1 {
    width: 286px;
    height: 269px;
    margin-top: 116px;
  }

  .u-section-2 .u-text-1 {
    width: 495px;
    margin-top: 28px;
    margin-right: auto;
  }

  .u-section-2 .u-text-2 {
    margin-top: 16px;
    margin-right: 13px;
    margin-left: 28px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 28px;
    margin-bottom: 28px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 489px;
  }

  .u-section-2 .u-image-1 {
    width: 324px;
    height: 179px;
    margin-top: 16px;
    margin-left: 85px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 16px;
    margin-right: 45px;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    font-size: 1rem;
    margin-top: 0;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 23px;
    margin-bottom: 16px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 389px;
  }

  .u-section-2 .u-image-1 {
    width: 443px;
    height: 340px;
    margin-right: -103px;
    margin-left: auto;
  }

  .u-section-2 .u-text-1 {
    margin-top: 0;
  }
}